@import "tailwindcss";

@theme {
  --color-primary: #135bec;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101622;
  --font-display: "Inter", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--color-background-light);
  color: #111318;
}

/* Custom Utilities */
.masonry-grid {
  column-count: 1;
  column-gap: 1rem;
}

@media (min-width: 640px) {
  .masonry-grid {
    column-count: 2;
  }
}

@media (min-width: 1024px) {
  .masonry-grid {
    column-count: 3;
  }
}

.masonry-item {
  break-inside: avoid-column;
  margin-bottom: 1rem;
}
